body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}


/********************************************** Celulares ********************************************************/

@media only screen and (max-width: 600px) {

header {
    background-color: rgba(97, 3, 42);
    background-size: cover;
    text-align: center;
    padding: 5px;
}

header h1 {
    color: white;
}

nav ul {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s, text-decoration 0.3s;
    font-style:oblique;
    margin-right: 5px;
    margin-bottom: 10px;
}

nav ul li a:hover {
    color: blue; /* Cambia el color al pasar el mouse */
}

/* Favicon de Facebook */
.fa-facebook-square {
    color: white;
  }
  .fa-facebook-square:hover {
    color: blue;
  }

/* Favicon de Instagram */
.fa-instagram{
    color: white;
}

.fa-instagram:hover {
    color: blue;
  }

    /* Fuentes */
    .kalam-regular {
        font-family: "Kalam", cursive;
        font-weight: 400;
        font-style: normal;
        margin-left: 20px;
      }
    
      .kalam-bold {
        font-family: "Kalam", cursive;
        font-weight: 700;
        font-style: normal;
      }  
    
      /* Título Gloriosa Burgers */
      .bungee-regularspice- {
        margin-bottom: 5px;
        font-family: "Bungee Spice", sans-serif;
        font-weight: 400;
        font-style:normal;
      }

  body {
    /* Títulos del nav */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(./assets/Imagenes/fondos/burgerSmall.jpg);
    color: black;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}
    /* Título Bienvenido a Gloriosa Burgers! */
    .chicle-regular {
        font-family: "Chicle", serif;
        font-weight: 400;
        font-style:oblique;
        color: gold;
        text-align: center;
      }

          /* Título Qué te gustaría? */
          .section2 {
            color:rgb(4, 139, 250);
            padding: 10px 10px;
            text-align: center;
        }

    /* Títulos del menú */
    .section {
        padding: 15px 15px;
        max-width:min-content;
        text-align: center;
        color: white;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 5px;
        background-color: transparent; /* Cambiado a transparente */
        border-radius: 40%;
        transition: transform 0.5s ease-in-out;
        border: none; /* Añadido para eliminar el borde del botón */
    }
    /* Añadido para hacer el botón transparente */
    .reservar, .retirar, .enviar {
        background-color: transparent;
        border: none;
        }
       
        .section1 {
            margin-top: -20px;
            margin-left: 10px;
            text-align: center;
        }
    
    
    
        .section:hover {
            transform: scale(1.05) translate(20px, 0px);
            color: black;
            background-color:rgb(82, 173, 123);
            border-bottom-style:dotted;
        }  
    }

