body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: #05d48f;
    .titulo {
      color: gold;
      margin-top: 10px;
      margin-left: 10px;
    }
}

/*---------------------- CELULARES ----------------------------*/
@media only screen and (max-width: 650px) { 
/* Título Hacé tu reserva aquí... */
.titulo{
  padding-top: 20px;
}

 /* Estilo para el contenedor principal */
 .contenedor {
  flex-grow:1;
  gap: 20px; /* Espacio entre columnas */
  padding: 20px;
}

/* Estilo para el formulario */
form {
  max-width: 100%; /* Ajusta al ancho del contenedor */
}

/* Estilo para la imagen */
.image-container {
  text-align: center; /* Centra la imagen */
}

.image-container img {
  max-width: 100%; /* Ajusta al ancho del contenedor */
  max-height: 100%; /* Ajusta al alto del contenedor */
}
.botonera {
  margin-left: 25px;
}
}

.contenedor {
  grid-column: 1 / -1;
}
.contenedor {
grid-column: 5 / 6;
}

/*------------------------ TABLETS -------------------------*/
@media only screen and (min-width: 651px) and (max-width: 850px)  {
/* Estilo para el contenedor principal */
.contenedor {
flex-grow:1;
gap: 20px; /* Espacio entre columnas */
padding: 20px;
}

/* Estilo para el formulario */
form {
max-width: 100%; /* Ajusta al ancho del contenedor */
}

/* Estilo para la imagen */
.image-container {
text-align: center; /* Centra la imagen */
}

.image-container img {
max-width: 100%; /* Ajusta al ancho del contenedor */
max-height: 100%; /* Ajusta al alto del contenedor */
}

.titulo{
padding-top: 20px;
}

.botonera {
display: inline-flex;
flex-direction: row;
padding-left: 150px;
gap: 50px;
}
}
/*------------------------ NOTEBOOKS -------------------------*/
@media only screen and (min-width: 851px)  {
  /* Estilo para el contenedor principal */
.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide en dos columnas */
    gap: 20px; /* Espacio entre columnas */
    padding: 20px;
}

/* Estilo para el formulario */
form {
    max-width: 100%; /* Ajusta al ancho del contenedor */
}

/* Estilo para la imagen */
.image-container {
    text-align: center; /* Centra la imagen */
}

.image-container img {
    max-width: 100%; /* Ajusta al ancho del contenedor */
    max-height: 100%; /* Ajusta al alto del contenedor */
}

.image-container {
  display: block;
  width: 100%;
  margin-top: 5px;
}
.botonera {
  display: inline-flex;
  flex-direction: row;
  padding-left: 150px;
  gap: 50px;
  }
}