header {
    background-color: rgba(97, 3, 42);
    background-size: cover;
    text-align: center;
    padding: 10px;
}

header h1 {
    color: white;
}

nav ul {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s, text-decoration 0.3s;
    font-style:oblique;
}

nav ul li a:hover {
    color: blue; /* Cambia el color al pasar el mouse */
}

/* Favicon de Facebook */
.fa-facebook-square {
    color: white;
  }

  .fa-facebook-square:hover {
    color: blue;
  }

/* Favicon de Instagram */
.fa-instagram{
    color: white;
}

.fa-instagram:hover {
    color: blue;
  }

  /* Fuentes */
  .kalam-regular {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    margin-left: 20px;
  }

  .kalam-bold {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
  }  

  /* Título Gloriosa Burgers */
  .bungee-regularspice- {
    margin-bottom: 5px;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style:normal;
}
 